table,
th,
td {
  border: 1px solid #000;
}

table {
  border-collapse: collapse;
}

table {
  border-spacing: 0;
}

.wrapper {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.brand-wrapper {
  background-color: rgb(151, 151, 151);
  text-align: center;
}

.brand-name {
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
}

.specs-wrapper {
  background-color: rgb(228, 112, 204);
  font-weight: bold;
}

.specs-name {
  width: 100px;
  text-align: center;
  background-color: rgb(42, 219, 192);
}

.specs-list {
  width: 200px;
}

ul {
  list-style-type: none;
  padding: 5px;
  margin: 0;
  border-bottom: 1px solid black;
}

ul:last-of-type {
  border: none;
}
